a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}

.tab-pane {
    height:150px;
    overflow-y:scroll;
    font-size: 12px
}

.alert-wrap {
    white-space: normal;
    overflow-x:scroll;
    overflow-y:scroll;
}